body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    position: relative;
    h1 {
        text-transform: uppercase;
    }
    .wrapper {
        width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .boutons {
            * {
                border-radius: 4px;
                border: none;
                padding: 6px;
            }
            .purple, button:hover {
                background-color: purple;
                color: #fff;
            }
            button {
                color: purple;
                background-color: #fff;
                border: 1px purple solid;
                cursor: pointer;
                padding: 8px;
            }
        }
        
    }
    .posters {
        width: 90vw;
        margin: 100px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 40px 50px;
        .poster {
            height: 500px;
            cursor: pointer;
            &:hover img {
                transform: scale(1.05);
                @include transition;
            }
            &:hover .image::after {
                opacity: 0.6;
                @include transition;
            }
            &:hover .score {
                transform: translateX(-150px);
                transition: all .05s ease-in-out;   
            }

            h2 {
                text-align:center;
                color: purple;
                height:10%;
                margin: 0;
                padding: 0 0 15px 0;
            }
            .image {
                width:100%;
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 450px;
                img {
                    max-height:100%;
                    display: block;
                    @include transition;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(138deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(254,45,100,1) 73%, rgba(252,70,107,1) 100%);
                    opacity: 0;
                    z-index: 1;
                    @include transition;
                }
                .score {
                    position: absolute;
                    bottom : 0;
                    right: -150px;
                    font-family: "Dosis", sans-serif;
                    z-index: 2;
                    color: #fff;
                    padding: 10px;
                    font-size: 35px;
                    text-align: right;
                    display: flex;
                    flex-direction: column;
                    opacity: 1;
                    transition: all .15s ease-in-out .3s;
                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .banner {
        display: none;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 80vh;
        border: 1px solid;
        position: fixed;
        gap: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        .cross {
            font-weight: 600;
            text-align: right;
            cursor: pointer;
        }
        .image {
            width: 350px;
            height: 500px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            height: 500px;
            width: 700px;
            h2 {
                text-align:center;
                color: purple;
            }
            p {
                
            }
        }
        
    }
    .banner.print{
        display:flex;
    }
}
.fade::after {
    content: '';
    position: absolute;    
    height: 300vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
}

